<h2 style="text-align: center;">&nbsp;</h2>
<table style="width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr>
<td style="width: 33.3333%;">&nbsp;</td>
<td style="width: 33.3333%;">
<h2 style="text-align: center;"><strong>Current strategy signal:</strong></h2>
    <p style="text-align: center;"><strong><span style="color: #{{ color }};">{{ signal }}</span></strong></p>
<h2 style="text-align: center;"><strong>SLV price:</strong></h2>
<p style="text-align: center;">{{ price }}</p>
</td>
<td style="width: 33.3333%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 33.3333%;">&nbsp;</td>
<td style="width: 33.3333%;">
<p style="text-align: left;">User's Guide:</p>
<p>If the current signal is buy, you should buy an etf SLV and hold it for 10 business days. Then check the signal again. If the signal is buy again, don't sell ETF and keep it for another 10 days until the signal changes.</p>
<p>If the current signal is sell / hold and you do not have an etf SLV, you should check the signal daily and make a purchase on the day the signal changes to buy.</p>
</td>
<td style="width: 33.3333%;">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p>&nbsp;</p>
